@use '../abstract/variables' as var;
@use '../animations';
@use '../abstract/mixins' as mx;

@mixin icon(
  $name,
  $size,
  $color: var.$icon-color
) {
  background-image: url(#{var.$icon-url}/#{$name}/#{var.$icon-color});
  width: $size;
  height: $size;
  display: block;
}

.gmail-icon {
    @include icon("gmail", var.$icon-size);
}

.github-icon {
    @include icon("github", var.$icon-size);
}

.orcid-icon {
    @include icon("orcid", var.$icon-size);
}

.linkedin-icon {
    @include icon("linkedin", var.$icon-size);
}


