@use '../abstract/variables' as var;
@use '../animations';
@use '../abstract/mixins' as mx;

.navbar {
    position: fixed; /* Fix to the top */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: black;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 30px; /* Spacing between items */
}

.navbar ul li {
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: var.$text-color; /* Text color */
    padding: 10px 30px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: block; /* Ensure clickable area is block-level */
    border-radius: 5px;
}

.navbar ul li a::after {
    content: attr(data-hover-text); /* Text to display on hover */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: white;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
}

.navbar ul li a i {
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.navbar ul li a:hover {
    background-color: rgba(var.$primary-color, 0.5); /* Hover background with transparency */
    color: white; /* Hover text color */
    border-radius: 5px; /* Rounded corners for hover effect */
}

.navbar ul li a:hover i {
    opacity: 0; /* Hide icon */
}

.navbar ul li a:hover::after {
    opacity: 1; /* Show hover text */
}
