@use '../abstract/mixins' as mx;
@use '../abstract/variables' as var;
@use '../animations';
@import '../components/buttons';

.central-block {
    @include mx.flex-center(column);
    height: 100vh;
    width: 100%;

    .glass-container {
        width: 50%;
        height: 60%;
        padding: 30px;
        @include mx.flex-center(column);
        @include animations.appearance(fadeIn, 2s, ease, 1s);
        background: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 0) 70%
        );
      }
  
    .name {
        @include animations.appearance(fadeIn, 2s, ease, 1s);
        @include mx.text-style(var.$name-color, var.$name-font-size, var.$font-family, bold);
        text-transform: uppercase;        
    }
    
    .position {
        opacity: 0;
        @include animations.appearance(fadeIn, 2s, ease, 1s);
        @include mx.text-style(var.$position-color, var.$position-font-size, var.$font-family, bold);
    }

    .hero-cta{
        @include animations.appearance(fadeIn, 2s, ease, 1s);
        @include mx.text-style(var.$text-color, 20x, var.$font-family, bold);

        .cta-button{
            @extend .button;
        }
    }
}