@use '../abstract/mixins' as mx;
@use '../abstract/variables' as var;
@use '../animations';

.central-block {
    @include mx.flex-center(column);
    height: 100vh;
  
    .name {
        opcaity: 0;
        @include animations.appearance(fadeIn, 2s, ease, 1s);
        @include mx.text-style(var.$name-color, var.$name-font-size, var.$font-family, bold);
        
    }
    
    .position {
        opcaity: 0;
        @include animations.appearance(fadeIn, 2s, ease, 1s);
        @include mx.text-style(var.$position-color, var.$position-font-size, var.$font-family, bold);
        margin-bottom: 20px;
    }
}