@use '../abstract/mixins' as mx;
@use '../abstract/variables' as var;
@use '../animations';
@import '../components/buttons';

.central-block {
    @include mx.flex-center(column);
    height: 100vh;
  
    .name {
        opacity: 0; // Hide the element initially
        @include animations.appearance(fadeIn, 2s, ease, 1s);
        @include mx.text-style(var.$name-color, var.$name-font-size, var.$font-family, bold);
        text-transform: uppercase;
        
    }
    
    .position {
        opacity: 0;
        @include animations.appearance(fadeIn, 2s, ease, 1s);
        @include mx.text-style(var.$position-color, var.$position-font-size, var.$font-family, bold);
    }

    .hero-cta{
        opacity: 0;
        @include animations.appearance(fadeIn, 2s, ease, 1s);
        @include mx.text-style(var.$text-color, 20x, var.$font-family, bold);

        .cta-button{
            @extend .button;
        }
    }
}