@use '../abstract/variables' as var;
@use '../animations';
@use '../abstract/mixins' as mx;

html {
  scroll-behavior: smooth;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    margin: var.$header-height 0 0 0;
    font-family: var.$font-family;
    font-size: var.$font-size;
    font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var.$text-color;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
    -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}