@use '../abstract/variables' as var;

body {
    background-color: var.$background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: $light-grey;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
  }
  
  
  
  