@use '../abstract/variables' as var;
@use '../animations';
@use '../abstract/mixins' as mx;

html {
  scroll-behavior: smooth;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    margin: var.$header-height 0 0 0;
    font-family: var.$font-family;
    font-size: var.$font-size;
    font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var.$text-color;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
    -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}

section {
  font-family: var.$font-family;
  min-height: 100vh;
  height: 100vh;
  padding: 25px;
  color: var.$text-color;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
  h1 {
    font-family: inherit;
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    width: max-content;

    &:after {
      position: absolute;
      content: "";
      top: 110%;
      height: 5px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(to right, transparent, var.$primary-color, transparent);
      @include animations.appearance(fadeIn, 1s, ease-in-out, 0.5s);
    }
  }
}