@use 'variables' as var;

@mixin flex-center(
  $direction: column
) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin text-style(
  $color:
  $font-size,
  $font-family,
  $font-weight: normal,
  $line-height: 1.5
) {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin transition(
  $properties: all,
  $duration: 0.3s,
  $ease: ease-in-out
) {
  transition: #{$properties} #{$duration} #{$ease};
}

@mixin hover-transform(
  $scale
) {
  @include transition(transform, 0.3s, ease-in-out);

  &:hover {
    transform: scale($scale);
  }
}