$breakpoints: (
  "small": 480px,    // Phones
  "medium": 768px,   // Tablets
  "large": 1024px,   // Small laptops
  "xlarge": 1200px   // Larger screens
);

$background-color: #161618;
$primary-color: #2c4988;
$text-color: #eae9f1;
$icon-color: white;

$eminence: #632885ff;
$violet-blue: #5452A6ff;
$licorice: #130417ff;
$steel-pink: #B704BBff;
$russian-violet: #510456ff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$font-family: "Roboto", sans-serif;

$icon-url: "https://cdn.simpleicons.org";
$icon-size: 30px;
$icon-margin: 15px;
$icon-hover-scale: 1.2;

$history-icon-size: 30px;

$about-me-button-width: 24px;
$about-me-button-height: 12px;

$hover-color: rgba(0, 0, 0, 0.8);
$side-button-color: white;
$side-button-font-size: 30px;

$name-color: #eae9f1;
$name-font-size: 4em;
$position-color: #2c4988;
$position-font-size: 2.5em;

$photo-dimension: 300px;