@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

$header-height: 3rem;
$z-fixed: 100;

$font-family: "Inter", sans-serif;
$font-size: .938rem;
$small-font-size: .813rem;

@media screen and (min-width: 768px) {
  $font-size: 1rem;
  $small-font-size: .875rem;
}

$background-color: #161618;
$primary-color: #2c4988;
$text-color: #eae9f1;
$icon-color: white;

$eminence: #632885ff;
$violet-blue: #5452A6ff;
$licorice: #130417ff;
$steel-pink: #B704BBff;
$russian-violet: #510456ff;

$dark-grey: #333333;
$light-grey: #d2d2d2;


$icon-url: "https://cdn.simpleicons.org";
$icon-size: 21px;
$icon-margin: 15px;
$icon-hover-scale: 1.2;
